@model List<Class>
@{
    ViewData["Title"] = "ClassList";
    Layout = "~/Areas/Admin/Views/AdminDefault/Index.cshtml";
}

<div class="card-header">
    <div class="card-title">Sınıflarımız</div>
</div>
<div class="card-body">
    <div class="card-sub">
        Sınıflar ile ilgili işlemleri buradan yapabilirsiniz.
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sınıf Başlığı</th>
                <th scope="col">Açıklama</th>
                <th scope="col">Resim Yolu</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Öğrenci Sayısı</th>
                <th scope="col">Ders Saati</th>
                <th scope="col">Sınıf Sayısı</th>
                <th scope="col">Sınıf Öğretmeni</th>
                <th scope="col">Sil</th>
                <th scope="col">Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ClassId</td>
                    <td>@item.ClassTitle</td>
                    <td>@item.ClassDescription</td>
                    <td><img src="@item.ClassImageUrl" width="75px" height="75px" class="img rounded-circle" /></td>
                    <td>@item.Price</td>
                    <td>@item.StudentCount</td>
                    <td>@item.ClassTime</td>
                    <td>@item.LessonCount</td>
                    <td>@item.Team.NameSurname</td>
                    <td><a onclick="deleteClass(@item.ClassId)" class="btn btn-warning">Sil</a></td>
                    <td><a href="/Admin/Class/UpdateClass/@item.ClassId" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Admin/Class/CreateClass/" class="btn btn-outline-success">Sınıf Oluştur</a>


    <script>
        function deleteClass(id) {
            Swal.fire({
                title: "Silmek İstediğiniz Emin Misin?",
                text: "Bu işlem geri alınamaz!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Evet!"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/Admin/Class/DeleteClass/" + id;
                }
            });
        }
    </script>
</div>