@model List<Contact>
@{
    ViewData["Title"] = "ContactList";
    Layout = "~/Areas/Admin/Views/AdminDefault/Index.cshtml";
}


<div class="card-header">
    <div class="card-title">Mesajlar</div>
</div>
<div class="card-body">
    <div class="card-sub">
        Mesajlar ile ilgili işlemleri buradan yapabilirsiniz.
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">İsim Soyisim</th>
                <th scope="col">Mail Adresi</th>
                <th scope="col">Mesajı</th>
                <th scope="col">Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ContactId</td>
                    <td>@item.NameSurname</td>
                    <td>@item.Mail</td>
                    <td>@item.Message</td>
                    <td><a onclick="deleteContact(@item.ContactId)" class="btn btn-warning">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>


    <script>
        function deleteContact(id) {
            Swal.fire({
                title: "Silmek İstediğiniz Emin Misin?",
                text: "Bu işlem geri alınamaz!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Evet!"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/Admin/Contact/DeleteContact/" + id;
                }
            });
        }
    </script>
</div>